body {
    background-color: #e9e9e9;
}

h1, h2 {
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-sm-12 {
    text-align: center;
}

.col-sm-3 {
    text-align: center;
}

#password {
    border: 2px dashed black;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#box {
    border: 2px solid goldenrod;
    background-color: whitesmoke;
}

textarea::placeholder {
    text-align: center;
}